@main: rgb(38, 214, 49);

* {
  cursor: help !important;
}

p {
  color: white !important;
  font-family: monospace;
  background-color: transparent !important;
}

label {
  color: white;
  font-family: monospace;
}

b {
  color: @main;
  font-family: monospace;
} 

textarea {
  color: black;
  font-family: monospace;
}

input {
  color: black;
  font-family: monospace;
}

.highlight {
  border-color: @main;
  border-style: groove;
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.detail p {
  background: @main;
}

.detail .line {
  background: black;
}

.detail .field {
  margin: 0 !important;
  border-bottom: solid white;
}

body {
  background-image: url("/assets/alien-bk1.jpeg");
  background-size: cover;
}

.title-light {
  background: transparent;
}

.dotted {
  border-color: @main;
}

.submit {
  border-style: outset;
  width: 10em;
  height: 4em;
}

.button {
  width: 15vw;
}

.height-md {
  height: 17em;
}